<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Specialization</th>
            <th>Salary</th>
            <th>Experience</th>
            <th>Image</th>
            <th>Certification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.FullName</td>
                <td>@c.Email</td>
                <td>@c.Gender</td>
                <td>@c.PhoneNumber</td>
                <td>@c.Specialization</td>
                <td>@c.Salary</td>
                <td>@c.Experience</td>
                <td>@c.Image</td>
                <td>@c.Certification</td>
                <td>
                    <a asp-action="Edit" asp-controller="Coach" asp-route-id="@c.ID" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-controller="Coach" asp-route-id="@c.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
