@using System.Linq

@model CoachViewModel
<h2>Coach Profile</h2>
<div class="card p-3 ">
    <a asp-action="Edit" asp-controller="Coach" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit Profile</a>

    <h4 class="mb-3">@Model.FullName</h4>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone:</strong> @Model.PhoneNumber</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Specialization:</strong> @Model.Specialization</p>
    <p><strong>Hire Date:</strong> @Model.HireDate.ToString()</p>
    <p><strong>Salary:</strong> @Model.Salary</p>
    <p><strong>Experience:</strong> @Model.Experience</p>
</div>

@if (Model.WorkOutPrograms?.Any() == true)
{
    <h4 class="mt-4">Programs by this Coach</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var program in Model.WorkOutPrograms)
            {
                <tr>
                    <td>@program.Name</td>
                    <td>@program.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

